= bootstrap_form_for(task, remote: true) do |f|
  .modal-header
    %button.close{ data: { dismiss: 'modal', type: 'button' } } &times;
    %h4.modal-title New task
  .modal-body
    = f.text_field :text, autocomplete: 'off', hide_label: true
  .modal-footer
    = f.submit 'Create', id: 'submit', class: 'btn btn-primary', data: { target: '#tasks-modal', toggle: :modal }
