var tasks_empty = $(".tasks-empty");
var tasks_table = $("#tasks-table");

if (tasks_empty.length > 0)
  tasks_empty.remove();

if (tasks_table.children("div").length % 4 == 0)
  tasks_table.append("<div class='clearfix'></div>");

tasks_table.append($('<%= escape_javascript(render partial: 'tasks/task_card', locals: { task: @task, user: current_user }) %>').fadeIn());
